<div class="row">
    <div class="col-sm-12 col-md-3" ng-repeat="type in types">
        <div class="box" ng-class="{'box-success' : selectedType == type.key}">

            <div class="box-body text-center" style="cursor:pointer;" ng-click="getManufacturersByType(type.key)">
                <img ng-src="[[ type.img ]]" alt="">
                <p ng-bind="type.title"></p>
            </div>

        </div>
    </div>
</div>

<div class="row" ng-show="initialized === true">
    <div class="col-sm-12">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Manufacturers Filter" ng-model="manufacturerFilter"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-2" ng-repeat="manufacturer in manufacturers | filter : manufacturerFilter"
         style="cursor: pointer;">
        <div class="box" ng-class="{'box-warning' : hoveredManufacturer == manufacturer.id}"
             ng-mouseenter="setHoveredManufacturer(manufacturer.id)" ng-mouseleave="unsetHoveredManufacturer()">

            <div class="box-body text-center" ui-sref="car_general_models({manufacturer : manufacturer.slug})">
                <img ng-src="[[ manufacturer.img ]]" alt="">
                <p ng-bind="manufacturer.description"></p>
            </div>

        </div>
    </div>
</div>

<div class="row" ng-show="initialized === true">
    <div class="col-sm-12" ng-if="(manufacturers | filter : manufacturerFilter).length == 0">
        <div class="box">

            <div class="box-body text-center">
                <p>No Manufacturers are available for the `<span ng-bind="manufacturerFilter"></span>`</p>
            </div>

        </div>
    </div>
</div>
