<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">[[ $root.texts.orders ]]</span>
                <span class="info-box-number">0</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 30%; background: red;"></div>
                </div>
                <span class="progress-description">
                30% less than last week
            </span>
            </div>
        </div>
    </div>
</div>
